@import "./_reset";
@import "./_mixin";

.fr {
  &-logo {
    width: 150px;
    height: 50px;
    display: inline-block;
    vertical-align: middle;
    font-size: 0;
    background: url(../../common/images/logo.svg) no-repeat center/100%;
    transition: 0.3s;
  }
}

.landing {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 80px;
  padding:30px 0;
  background-color: #edf1f4;
  &__card {
    width: 40%;
    max-width: 380px;
    padding: 30px;
    font-size: 0;
    text-align: center;
    border-radius: 20px;
    color: #414141;
    background-color: #edf1f4;
    box-shadow: -6px -6px 14px rgba(255, 255, 255, .7),
      6px 6px 10px rgba(0, 0, 0, .15);
    overflow: hidden;

    &--skill {
      width: 50px;
      height: 50px;
      display: inline-block;
      vertical-align: middle;
      border-radius: 10px;
      overflow: hidden;
      box-shadow: inset -2px -2px 6px rgba(255, 255, 255, .7),
        inset 2px 2px 4px rgba(0, 0, 0, .15);
      position: relative;

      >ul {
        width: 110px;
        font-size: 0;
        transform: rotate(0);
        position: absolute;
        top: 10px;
        left: -30px;
        animation: rotate 6s infinite cubic-bezier(0.38, 0.8, 0.32, 1.07);

        li {
          display: inline-block;
          vertical-align: middle;
          width: 30px;
          height: 30px;

          .wheel {
            width: 100%;
            height: 100%;
            position: relative;

            &::before {
              content: "";
              width: 70%;
              height: 100%;
              display: block;
              margin: 0 auto;
              border-radius: 10px;
              border: 3px solid #999;
              box-sizing: border-box;
            }

            &::after {
              content: "";
              width: 3px;
              height: 5px;
              background-color: #aaa;
              position: absolute;
              top: 10px;
              left: calc(50% - 1px);
              animation: 0.7s wheel infinite;
            }

            @keyframes wheel {
              0% {
                opacity: 1;
                transform: translateY(0);
              }

              25% {
                opacity: 1;
              }

              100% {
                opacity: 0;
                transform: translateY(5px);
              }
            }
          }

          img {
            width: 100%;
            height: 100%;
          }

          &:nth-child(1) {
            display: block;
            margin: 0 auto;
          }

          &:nth-child(2) {
            margin: 10px 50px 10px 0;
            transform: rotate(270deg);
          }

          &:nth-child(3) {
            transform: rotate(90deg);
          }

          &:nth-child(4) {
            transform: rotate(180deg);
          }
        }

        @keyframes rotate {
          0% {
            transform: rotate(0);
          }

          15%,
          25% {
            transform: rotate(90deg);
          }

          40%,
          50% {
            transform: rotate(180deg);
          }

          65%,
          75% {
            transform: rotate(270deg);
          }

          90%,
          100% {
            transform: rotate(360deg);
          }
        }
      }
    }

    &--tit {
      width: calc(100% - 50px);
      display: inline-block;
      vertical-align: middle;
      font-size: 22px;
    }

    &--info {
      width: 77%;
      margin: 0 auto;
      padding: 40px 0;
      line-height: 1.6;
      font-size: 16px;
      font-family: "NanumSquareOTF_acR";
      opacity: 0.8;
      word-break: keep-all;
    }

    &--link {
      a {
        display: block;
        padding: 15px;
        font-size: 16px;
        border-radius: 10px;
        box-shadow: -6px -6px 14px rgba(255, 255, 255, .7),
          6px 6px 10px rgba(0, 0, 0, .15);

        &:hover {
          box-shadow: -2px -2px 6px rgba(255, 255, 255, .6),
            2px 2px 4px rgba(0, 0, 0, .1);
        }

        &:focus {
          box-shadow: inset -2px -2px 6px rgba(255, 255, 255, .7),
            inset 2px 2px 4px rgba(0, 0, 0, .15);
        }
      }
    }
  }
}

@include respond-to(xl) {
  .fr {
    &-logo {
      width: 120px;
      height: 40px;
    }
  }

  .landing {
    justify-content: space-around;
    gap: 0;

    &__card {
      width: 380px;
    }
  }
}

@include respond-to(lg) {
  .landing {
    flex-direction: column;
    gap: 40px;
    padding: 40px;

    &__card {
      width: 100%;

      &--info {
        width: 100%;
        max-width: 247px;
      }
    }
  }
}

@include respond-to(xs) {
  .fr {
    &-logo {
      width: 40px;
      background: url(../../common/images/logo-xs.svg) no-repeat center/100%;
    }
  }
}